USE [master]
GO
/****** Object:  Database [TbmDb]    Script Date: 2025-10-14 오전 9:53:18 ******/
CREATE DATABASE [TbmDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TbmDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TbmDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TbmDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TbmDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TbmDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TbmDb]
GO
/****** Object:  User [tbm_user]    Script Date: 2025-10-14 오전 9:53:18 ******/
CREATE USER [tbm_user] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DI_DIF]    Script Date: 2025-10-14 오전 9:53:18 ******/
CREATE USER [DI_DIF] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [tbm_user]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2025-10-14 오전 9:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChecklistTemplates]    Script Date: 2025-10-14 오전 9:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChecklistTemplates](
	[TemplateID] [int] IDENTITY(1,1) NOT NULL,
	[TemplateName] [nvarchar](max) NULL,
	[TeamID] [int] NOT NULL,
 CONSTRAINT [PK_ChecklistTemplates] PRIMARY KEY CLUSTERED 
(
	[TemplateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailyReports]    Script Date: 2025-10-14 오전 9:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyReports](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[TeamID] [int] NOT NULL,
	[ReportDate] [datetime2](7) NOT NULL,
	[ManagerName] [nvarchar](max) NULL,
	[Remarks] [nvarchar](max) NULL,
 CONSTRAINT [PK_DailyReports] PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportDetails]    Script Date: 2025-10-14 오전 9:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportDetails](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[ReportID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[CheckState] [nvarchar](max) NULL,
 CONSTRAINT [PK_ReportDetails] PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportSignatures]    Script Date: 2025-10-14 오전 9:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportSignatures](
	[SignatureID] [int] IDENTITY(1,1) NOT NULL,
	[ReportID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[SignatureImage] [varbinary](max) NULL,
	[SignedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ReportSignatures] PRIMARY KEY CLUSTERED 
(
	[SignatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 2025-10-14 오전 9:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[TeamID] [int] IDENTITY(1,1) NOT NULL,
	[TeamName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Teams] PRIMARY KEY CLUSTERED 
(
	[TeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TemplateItems]    Script Date: 2025-10-14 오전 9:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TemplateItems](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[TemplateID] [int] NOT NULL,
	[Category] [nvarchar](max) NULL,
	[SubCategory] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[DisplayOrder] [int] NOT NULL,
 CONSTRAINT [PK_TemplateItems] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2025-10-14 오전 9:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[TeamID] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250915065334_InitialCreate', N'9.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250915075219_AddDisplayOrderToTemplateItems', N'9.0.9')
GO
SET IDENTITY_INSERT [dbo].[ChecklistTemplates] ON 

INSERT [dbo].[ChecklistTemplates] ([TemplateID], [TemplateName], [TeamID]) VALUES (1, N'조립 전기라인 일일 안전점검', 1)
INSERT [dbo].[ChecklistTemplates] ([TemplateID], [TemplateName], [TeamID]) VALUES (2, N'제관라인 일일 안전점검', 2)
INSERT [dbo].[ChecklistTemplates] ([TemplateID], [TemplateName], [TeamID]) VALUES (3, N'가공라인 일일 안전점검', 3)
SET IDENTITY_INSERT [dbo].[ChecklistTemplates] OFF
GO
SET IDENTITY_INSERT [dbo].[DailyReports] ON 

INSERT [dbo].[DailyReports] ([ReportID], [TeamID], [ReportDate], [ManagerName], [Remarks]) VALUES (1, 1, CAST(N'2025-09-16T05:20:03.2400000' AS DateTime2), N'홍길동', N'특이사항 없음')
INSERT [dbo].[DailyReports] ([ReportID], [TeamID], [ReportDate], [ManagerName], [Remarks]) VALUES (2, 1, CAST(N'2025-09-16T07:10:16.4370000' AS DateTime2), N'홍길동', N'특이사항 없음')
INSERT [dbo].[DailyReports] ([ReportID], [TeamID], [ReportDate], [ManagerName], [Remarks]) VALUES (3, 1, CAST(N'2025-09-16T07:10:25.4670000' AS DateTime2), N'홍길동', N'특이사항 없음ㅇ')
SET IDENTITY_INSERT [dbo].[DailyReports] OFF
GO
SET IDENTITY_INSERT [dbo].[ReportDetails] ON 

INSERT [dbo].[ReportDetails] ([DetailID], [ReportID], [ItemID], [CheckState]) VALUES (59, 1, 1, N'O')
INSERT [dbo].[ReportDetails] ([DetailID], [ReportID], [ItemID], [CheckState]) VALUES (60, 1, 2, N'O')
INSERT [dbo].[ReportDetails] ([DetailID], [ReportID], [ItemID], [CheckState]) VALUES (61, 1, 3, N'O')
GO
SET IDENTITY_INSERT [dbo].[ReportDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[ReportSignatures] ON 

SET IDENTITY_INSERT [dbo].[ReportSignatures] OFF
GO
SET IDENTITY_INSERT [dbo].[Teams] ON 

INSERT [dbo].[Teams] ([TeamID], [TeamName]) VALUES (1, N'조립 전기라인')
INSERT [dbo].[Teams] ([TeamID], [TeamName]) VALUES (2, N'제관라인')
INSERT [dbo].[Teams] ([TeamID], [TeamName]) VALUES (3, N'가공라인')
SET IDENTITY_INSERT [dbo].[Teams] OFF
GO
SET IDENTITY_INSERT [dbo].[TemplateItems] ON 

INSERT [dbo].[TemplateItems] ([ItemID], [TemplateID], [Category], [SubCategory], [Description], [DisplayOrder]) VALUES (1, 1, N'TBM 점검', N'도입', N'아침 체조 스트레칭', 10)
INSERT [dbo].[TemplateItems] ([ItemID], [TemplateID], [Category], [SubCategory], [Description], [DisplayOrder]) VALUES (2, 1, N'TBM 점검', N'건강/복장/보호구', N'음주상태', 20)
INSERT [dbo].[TemplateItems] ([ItemID], [TemplateID], [Category], [SubCategory], [Description], [DisplayOrder]) VALUES (3, 1, N'TBM 점검', N'건강/복장/보호구', N'건강상태', 30)
GO
SET IDENTITY_INSERT [dbo].[TemplateItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserName], [TeamID]) VALUES (1, N'김조립', 1)
INSERT [dbo].[Users] ([UserID], [UserName], [TeamID]) VALUES (2, N'이전기', 1)
INSERT [dbo].[Users] ([UserID], [UserName], [TeamID]) VALUES (3, N'박제관', 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_ChecklistTemplates_TeamID]    Script Date: 2025-10-14 오전 9:53:18 ******/
CREATE NONCLUSTERED INDEX [IX_ChecklistTemplates_TeamID] ON [dbo].[ChecklistTemplates]
(
	[TeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DailyReports_TeamID]    Script Date: 2025-10-14 오전 9:53:18 ******/
CREATE NONCLUSTERED INDEX [IX_DailyReports_TeamID] ON [dbo].[DailyReports]
(
	[TeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReportDetails_ItemID]    Script Date: 2025-10-14 오전 9:53:18 ******/
CREATE NONCLUSTERED INDEX [IX_ReportDetails_ItemID] ON [dbo].[ReportDetails]
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReportDetails_ReportID]    Script Date: 2025-10-14 오전 9:53:18 ******/
CREATE NONCLUSTERED INDEX [IX_ReportDetails_ReportID] ON [dbo].[ReportDetails]
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReportSignatures_ReportID]    Script Date: 2025-10-14 오전 9:53:18 ******/
CREATE NONCLUSTERED INDEX [IX_ReportSignatures_ReportID] ON [dbo].[ReportSignatures]
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReportSignatures_UserID]    Script Date: 2025-10-14 오전 9:53:18 ******/
CREATE NONCLUSTERED INDEX [IX_ReportSignatures_UserID] ON [dbo].[ReportSignatures]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TemplateItems_TemplateID]    Script Date: 2025-10-14 오전 9:53:18 ******/
CREATE NONCLUSTERED INDEX [IX_TemplateItems_TemplateID] ON [dbo].[TemplateItems]
(
	[TemplateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_TeamID]    Script Date: 2025-10-14 오전 9:53:18 ******/
CREATE NONCLUSTERED INDEX [IX_Users_TeamID] ON [dbo].[Users]
(
	[TeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TemplateItems] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[ChecklistTemplates]  WITH CHECK ADD  CONSTRAINT [FK_ChecklistTemplates_Teams_TeamID] FOREIGN KEY([TeamID])
REFERENCES [dbo].[Teams] ([TeamID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChecklistTemplates] CHECK CONSTRAINT [FK_ChecklistTemplates_Teams_TeamID]
GO
ALTER TABLE [dbo].[DailyReports]  WITH CHECK ADD  CONSTRAINT [FK_DailyReports_Teams_TeamID] FOREIGN KEY([TeamID])
REFERENCES [dbo].[Teams] ([TeamID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DailyReports] CHECK CONSTRAINT [FK_DailyReports_Teams_TeamID]
GO
ALTER TABLE [dbo].[ReportDetails]  WITH CHECK ADD  CONSTRAINT [FK_ReportDetails_DailyReports_ReportID] FOREIGN KEY([ReportID])
REFERENCES [dbo].[DailyReports] ([ReportID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReportDetails] CHECK CONSTRAINT [FK_ReportDetails_DailyReports_ReportID]
GO
ALTER TABLE [dbo].[ReportDetails]  WITH CHECK ADD  CONSTRAINT [FK_ReportDetails_TemplateItems_ItemID] FOREIGN KEY([ItemID])
REFERENCES [dbo].[TemplateItems] ([ItemID])
GO
ALTER TABLE [dbo].[ReportDetails] CHECK CONSTRAINT [FK_ReportDetails_TemplateItems_ItemID]
GO
ALTER TABLE [dbo].[ReportSignatures]  WITH CHECK ADD  CONSTRAINT [FK_ReportSignatures_DailyReports_ReportID] FOREIGN KEY([ReportID])
REFERENCES [dbo].[DailyReports] ([ReportID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReportSignatures] CHECK CONSTRAINT [FK_ReportSignatures_DailyReports_ReportID]
GO
ALTER TABLE [dbo].[ReportSignatures]  WITH CHECK ADD  CONSTRAINT [FK_ReportSignatures_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ReportSignatures] CHECK CONSTRAINT [FK_ReportSignatures_Users_UserID]
GO
ALTER TABLE [dbo].[TemplateItems]  WITH CHECK ADD  CONSTRAINT [FK_TemplateItems_ChecklistTemplates_TemplateID] FOREIGN KEY([TemplateID])
REFERENCES [dbo].[ChecklistTemplates] ([TemplateID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TemplateItems] CHECK CONSTRAINT [FK_TemplateItems_ChecklistTemplates_TemplateID]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Teams_TeamID] FOREIGN KEY([TeamID])
REFERENCES [dbo].[Teams] ([TeamID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Teams_TeamID]
GO
USE [master]
GO
